
@{
    ViewData["Title"] = "About Me";
}

<h2>About Me</h2>
<p> I am a passionate and motivated Software Engineering graduate from the Sri Lanka Institute of Information Technology (SLIIT). Eager to learn new technologies and a dedicated team player, I thrive under pressure and consistently meet deadlines. I am excited to apply my skills and enthusiasm to make a positive impact at your organization.</p>

