@page
@{
    ViewData["Title"] = "Experience";
}

<h2>Experience</h2>
<h3>Aeturnum Lanka (Pvt) Ltd (Team - Incentivio)</h3>
<p><strong>Trainee Software Engineer (Android)</strong> (1st August 2022 - 31st July 2023)</p>
<ul>
    <li>Contributed to mobile application development using Java, Android Studio, Google Cloud Console, Firebase, and GitHub.</li>
    <li>Published apps on Playstore using Google Play Console.</li>
</ul>
