@page
@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>
<h3>Ongoing Projects:</h3>
<ul>
    <li><a href="https://holidaysri.com/">Holiday Sri</a></li>
</ul>
<h3>Final Year Research:</h3>
<p>“Baby Bump: Monitoring System for Pregnant Mothers and Babies”</p>
<ul>
    <li>Mobile app – Drug Effect Predictor</li>
    <li>Technologies: Python, React Native, Firebase, GitLab</li>
    <li>Accepted in I2CT 2024 (H5-index - 25)</li>
    <li><a href="http://gitlab.sliit.lk/tmp-23-068/tmp-23-068">Project Repository</a></li>
</ul>
