@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>
<h3>Ongoing Projects:</h3>
<ul>
    <li><a href="https://holidaysri.com/">Holiday Sri</a></li>
</ul>
<h3>Final Year Research:</h3>
<p>“Baby Bump: Monitoring System for Pregnant Mothers and Babies”</p>
<ul>
    <li>Mobile app – Drug Effect Predictor</li>
    <li>Technologies: Python, React Native, Firebase, GitLab</li>
    <li>Published in I2CT 2024 (H5-index - 25)</li>
    <li><a href="https://github.com/DhanukaDB/Baby_Bump">Details About Research</a></li>
    <li><a href="https://ieeexplore.ieee.org/document/10544017">Research Paper IEEE</a></li>
    <li><a href="https://github.com/DhanukaDB/Baby_Bump">Project Repository</a></li>
</ul>
