@{
    ViewData["Title"] = "Skills";
}

<h2>Skills</h2>
<ul>
    <li>Programming Languages & Frameworks: React.js, Node.js, Express.js, React Native, Android (Java), Php, Flutter, Kotlin, .NET</li>
    <Li>Databases: NoSQL (MongoDB), MySQL, Firebase</Li>
    <li>Tools & Technologies: Android Studio, Google Play Console, Eclipse, GIT, GitHub, GitLab, Azure, Docker, Expo</li>
    <li>Soft Skills: Self-motivated, Decision making, Project management, Ability to work with challenges</li>
</ul>

